<app-navbar (onFollowChange)="onFollowChange($event)" (onFileChange)="onFileChange($event)"></app-navbar>

<div class="container">
  <div class="d-flex flex-column">
        <app-text-reader [followActive]="followActive" [fileName]="fileName"></app-text-reader>
  </div>
</div>
