<nav class="navbar navbar-expand-sm navbar-dark bg-info sticky-top">
  <a class="navbar-brand" href="#">Caption Reader</a>

  <div class="nav-item dropdown">
    <a class="nav-link text-light dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Captions
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

      <a *ngFor="let source of sources" class="dropdown-item" href="javascript:;" (click)="this.setFileName(source.file)"><input type="checkbox" disabled [checked]="fileName==source.file"> {{ source.name }}</a>

      </div>
  </div>


  <form class="form-inline">
    <div class="form-check">
      <input type="checkbox" class="form-check-input" value="1" id="chkFollow" (click)="this.onFollowChange.emit($event.target.checked)">
      <label for="chkFollow" class="form-check-label text-light">Suivre le fil</label>
    </div>
  </form>

</nav>
